<!-- About Section -->
<section class="success" id="about">
    <div class="container wow animated fadeInDown" data-wow-delay="200s" id="content-section">
      <div class="bg-overlay">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <p class="indent">I'm an Industrial Engineer turned Front End Web Developer, based in San Diego CA. After 21 years of successfully leading all phases of diverse projects in the Supplied Logistic and Manufacturing Industries, I have found that my interests have led me to a new career, I've always admired the programmers I’ve worked with and envied their ability to create tools that directly enhance people's productivity and quality of life.</p>
              <p class="indent">I'm passionate about what I do and always give 100%. For example, when I undertake a project or task, I don't just complete it I go the extra mile and make it better than requested therefore giving my customers, both internal and external, a complete satisfaction.</p>

            </div>

            <div class="col-lg-4">
              <p class="indent">This work ethic has given me the ability to  learn software coding in which I'am open to new opportunities in web development in either back end or front end for full stack creation. Please review my resume attached on LinkedIn and software skill set listed on this web page.</p>

                <p id="f">Compentence:</p>
                <p class="indentS">Languages and Frameworks: Ruby on Rails, JavaScript, jQuery, AJAX, HTML & CSS, SQL, PostgreSQL.</p>
                <p class="indentS">Tools & expertise: Git & Source control, Github, Code Reviews & Collaboration, BDD-testing with RSpec, API & Applications.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <p>
                <a href="https://www.linkedin.com/in/amar-shivers" target="_blank" class="btn btn-info btn-lg active animated infinite pulse" role="button" aria-pressed="true">More Details <i class="fa fa-linkedin fa-fw animated infinite tada"></i></a></p>
            </div>
        </div>
      </div>
    </div>
</section>
