<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <p class="indent">I'm an Industrial Engineer turned Front End Web Developer, based in San Diego CA. After 21 years of successfully leading all phases of diverse projects in the Supplied Logistic and Manufacturing Industries, I'm taking a related detour.</p>
              <p class="indent">I'm passionate about what I do and always give 100%.When I undertake a project or task and I don't just complete it, I go the extra mile and make it better than requested.</p>
            </div>

            <div class="col-lg-4">
                <p id="f">Compentence:</p>
                <p id="f">Languages and Frameworks:</p>
                <p class="indentS">Ruby on Rails, JavaScript, jQuery, AJAX, HTML5 & CSS, SQL, PostgreSQL.</p>
                <p id="f">Tools & expertise:</p>
                <p class="indentS">Git & Source control, Github, Code Reviews& Collaboration, BDD-testing with RSpec, API & Applications.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <p>
                <a href="https://www.linkedin.com/in/amar-shivers" target="_blank" class="btn btn-info btn-lg active animated infinite pulse" role="button" aria-pressed="true">FIND OUT MORE<i class="fa fa-linkedin fa-fw animated infinite tada"></i></a></p>
            </div>
        </div>
    </div>
</section>
