<!-- Skills Section -->
<section class="successS"id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skill Stack</h2>
        <hr class="star-primary">
        <h3 class="section-subheading text-muted">Languages, Frameworks, and Tools</h3>
      </div>
    </div>

    <div class="row text-center"> <!--row 1 of skills-->
      <div class="col-md-3 skill-item">
        <div class="circleimg animated infinite pulse"><img src="http://www.aprendoencasa.com/wp-content/uploads/2011/10/html5_logo_128_1.png" height="100px"></div>
        <h4 class="service-heading">HTML
        <a href="https://en.wikipedia.org/wiki/HTML" target="_blank" class="btn btn-secondary btn-md active animated infinite zoomIn" role="button" aria-pressed="true">MORE DETAILS <i class="W fa-wikipedia-w" aria-hidden="true"></i></a></h4>
      </div>

      <div class="col-md-3 skill-item">
        <div class="circleimg animated infinite tada"><img src="http://io13-high-dpi.appspot.com/images/CSS3_Logo.svg" height="100px"></div>
        <h4 class="service-heading">CSS<a href="https://en.wikipedia.org/wiki/CSS" target="_blank" class="btn btn-secondary btn-md active animated infinite zoomIn" role="button" aria-pressed="true">MORE DETAILS <i class="W fa-wikipedia-w" aria-hidden="true"></i></a></h4>
      </div>

      <div class="col-md-3 skill-item">
        <div class="circleimg animated infinite pulse"><img src="http://cursohtml5js.com/js.png" height="100px"></div>
        <h4 class="service-heading">JavaScript<a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank" class="btn btn-secondary btn-md active animated infinite zoomIn" role="button" aria-pressed="true">MORE DETAILS <i class="W fa-wikipedia-w" aria-hidden="true"></i></a></h4>
      </div>

      <div class="col-md-3">
        <div class="circleimg animated infinite jello"><img src="https://assets.toptal.io/uploads/blog/category/logo/40/jquery.png" height="100px" width ="90px"></div>
        <h4 class="service-heading">jQuery<a href="https://en.wikipedia.org/wiki/JQuery" target="_blank" class="btn btn-secondary btn-md active animated infinite zoomIn" role="button" aria-pressed="true">MORE DETAILS <i class="W fa-wikipedia-w" aria-hidden="true"></i></a></h4>
      </div>
    </div> <!--row 1 of skills-->


    <div class="row text-center"> <!--row 2 of skills-->
      <div class="col-md-3 skill-item">
        <div class="circleimg animated infinite pulse"><img src="https://upload.wikimedia.org/wikipedia/en/5/59/Ruby_(programming_language)_logo.gif" height="100px" width ="100px"></div>
        <h4 class="service-heading">Ruby<a href="https://en.wikipedia.org/wiki/Ruby" target="_blank" class="btn btn-secondary btn-md active animated infinite zoomIn" role="button" aria-pressed="true">MORE DETAILS <i class="W fa-wikipedia-w" aria-hidden="true"></i></a></h4>
      </div>

      <div class="col-md-3 skill-item">
        <div class="circleimg animated infinite tada"><img src="http://www.unixstickers.com/image/cache/data/stickers/rails/rails.sh-600x600.png" height="100px" width ="100px"></div>
        <h4 class="service-heading">Rails<a href="https://en.wikipedia.org/wiki/Rail" target="_blank" class="btn btn-secondary btn-md active animated infinite zoomIn" role="button" aria-pressed="true">MORE DETAILS <i class="W fa-wikipedia-w" aria-hidden="true"></i></a></h4>
      </div>


      <div class="col-md-3 skill-item">
        <div class="circleimg animated infinite pulse"><img src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-pink/mimetype/mimetype_document-sql/mimetype_document-sql_flat-circle-white-on-pink_512x512.png" height="100px" width ="100px"></div>
        <h4 class="service-heading">SQL<a href="https://en.wikipedia.org/wiki/SQL" target="_blank" class="btn btn-secondary btn-md active animated infinite zoomIn" role="button" aria-pressed="true">MORE DETAILS <i class="W fa-wikipedia-w" aria-hidden="true"></i></a></h4>
      </div>


      <div class="col-md-3">
        <div class="circleimg skill-item animated infinite rotateIn"><img src="http://downloads.eviware.s3.amazonaws.com/web_site_images/soapui/web_images/Dojo/TDD-diagram_02.png" height="100px" width ="100px"></div>
        <h4 class="service-heading">TDD - Rspec<a href="https://en.wikipedia.org/wiki/RSpec" target="_blank" class="btn btn-secondary btn-md active animated infinite zoomIn" role="button" aria-pressed="true">MORE DETAILS <i class="W fa-wikipedia-w" aria-hidden="true"></i></a></h4>
      </div> <!--row 2 of skills-->



      <div class="col-lg-8 col-lg-offset-2 text-center">
      <hr class="primary">
      <hr class="primary">
          <p>
          <a href="https://www.linkedin.com/in/amar-shivers" target="_blank" class="btn btn-info btn-lg active animated infinite pulse" role="button" aria-pressed="true">FIND OUT MORE<i class="fa fa-linkedin fa-fw animated infinite tada"></i></a></p>
      </div>

    </div>
  </div>
  </section>
